button{
  background-color: green;
  color:blue;
}
button:hover{
  background-color: blue;
  color: yellow;
}
body{
  background-color: red;
}
#nav{
  width: 90%;
  margin: 0 auto;
  padding-top:10px;
  border-bottom: 1px solid gray;
}
li{
  display: inline-block;
}
.b{
  background-color: lightBlue;
  color: #63064D;
}
#q{
  font-size: 30px;
  font-weight: 500;
}
.page-link{
  float: right;
  margin-right: 20px;
}
.page-link a{
  text-decoration: none;
  color:gray;
}
.page-link a:hover {
  color: black;
}