button{
  background-color: green;
  color:blue;
}
button:hover{
  background-color: blue;
  color: yellow;
}
body{
  background-color: red;
}
#nav{
  width: 90%;
  margin: 0 auto;
  padding-top:10px;
  border-bottom: 1px solid gray;
}
li{
  display: inline-block;
}