<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src= "script.js"></script>
<head>
  <title></title>
</head>
<body>
  <p>it worked</p>
  <button>hi</button>
  <p> <%= response %> </p>
<!-- recives message variable from server -->
</body>
</html>